<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataContext" connectionString="metadata=res://*/MobileData.csdl|res://*/MobileData.ssdl|res://*/MobileData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=123456;persistsecurityinfo=True;database=wearmis&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>