<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity>
    <typeAliases>
      <typeAlias alias="string" type="System.String, mscorlib" />
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="interface"
                 type="Microsoft.Practices.Unity.InterceptionExtension.InterfaceInterceptor, Microsoft.Practices.Unity.Interception"/>
      <typeAlias alias="TypeMatchingRule"
                type="Microsoft.Practices.Unity.InterceptionExtension.TypeMatchingRule, Microsoft.Practices.Unity.Interception" />

      <typeAlias alias="ICache" type="MobileCms.Cache.ICache, MobileCms.Cache" />
      <typeAlias alias="Cache" type="MobileCms.CacheService.Cache, MobileCms.CacheService" />

      <typeAlias alias="ICodeService" type="MobileCms.Website.ICodeService, MobileCms.Website" />
      <typeAlias alias="CodeService" type="MobileCms.WebsiteService.CodeService, MobileCms.WebsiteService" />

      <typeAlias alias="IMobileUserService" type="MobileCms.Website.IMobileUserService, MobileCms.Website" />
      <typeAlias alias="MobileUserService" type="MobileCms.WebsiteService.MobileUserService, MobileCms.WebsiteService" />

      <typeAlias alias="IMobileUserExtensionService" type="MobileCms.Website.IMobileUserExtensionService, MobileCms.Website" />
      <typeAlias alias="MobileUserExtensionService" type="MobileCms.WebsiteService.MobileUserExtensionService, MobileCms.WebsiteService" />

      <typeAlias alias="IMobileContactMemberService" type="MobileCms.Website.IMobileContactMemberService, MobileCms.Website" />
      <typeAlias alias="MobileContactMemberService" type="MobileCms.WebsiteService.MobileContactMemberService, MobileCms.WebsiteService" />

      <typeAlias alias="IMobileContactService" type="MobileCms.Website.IMobileContactService, MobileCms.Website" />
      <typeAlias alias="MobileContactService" type="MobileCms.WebsiteService.MobileContactService, MobileCms.WebsiteService" />

      <typeAlias alias="IMobileOrgStructureService" type="MobileCms.Website.IMobileOrgStructureService, MobileCms.Website" />
      <typeAlias alias="MobileOrgStructureService" type="MobileCms.WebsiteService.MobileOrgStructureService, MobileCms.WebsiteService" />

      <typeAlias alias="IMobileAppConfigService" type="MobileCms.Website.IMobileAppConfigService, MobileCms.Website" />
      <typeAlias alias="MobileAppConfigService" type="MobileCms.WebsiteService.MobileAppConfigService, MobileCms.WebsiteService" />

      <typeAlias alias="IMobileAppService" type="MobileCms.Website.IMobileAppService, MobileCms.Website" />
      <typeAlias alias="MobileAppService" type="MobileCms.WebsiteService.MobileAppService, MobileCms.WebsiteService" />

      <typeAlias alias="IMobileAppItemService" type="MobileCms.Website.IMobileAppItemService, MobileCms.Website" />
      <typeAlias alias="MobileAppItemService" type="MobileCms.WebsiteService.MobileAppItemService, MobileCms.WebsiteService" />

      <typeAlias alias="IRpcService" type="MobileCms.Website.IRpcService, MobileCms.Website" />
      <typeAlias alias="RpcService" type="MobileCms.WebsiteService.RpcService, MobileCms.WebsiteService" />

      <typeAlias alias="IMobileCardReaderReportService" type="MobileCms.Website.IMobileCardReaderReportService, MobileCms.Website" />
      <typeAlias alias="MobileCardReaderReportService" type="MobileCms.WebsiteService.MobileCardReaderReportService, MobileCms.WebsiteService" />

      <typeAlias alias="IMobileMessageService" type="MobileCms.Website.IMobileMessageService, MobileCms.Website" />
      <typeAlias alias="MobileMessageService" type="MobileCms.WebsiteService.MobileMessageService, MobileCms.WebsiteService" />

      <typeAlias alias="IMobileUserFileService" type="MobileCms.Website.IMobileUserFileService, MobileCms.Website" />
      <typeAlias alias="MobileUserFileService" type="MobileCms.WebsiteService.MobileUserFileService, MobileCms.WebsiteService" />

      <typeAlias alias="IMobileUserLocationService" type="MobileCms.Website.IMobileUserLocationService, MobileCms.Website" />
      <typeAlias alias="MobileUserLocationService" type="MobileCms.WebsiteService.MobileUserLocationService, MobileCms.WebsiteService" />

      <typeAlias alias="IWeiXinUserService" type="MobileCms.Website.IWeiXinUserService, MobileCms.Website" />
      <typeAlias alias="WeiXinUserService" type="MobileCms.WebsiteService.WeiXinUserService, MobileCms.WebsiteService" />

      <typeAlias alias="ISmsService" type="MobileCms.Website.ISmsService, MobileCms.Website" />
      <typeAlias alias="SmsService" type="MobileCms.WebsiteService.SmsService, MobileCms.WebsiteService" />

      <typeAlias alias="IWeiXinMessageService" type="MobileCms.Website.IWeiXinMessageService, MobileCms.Website" />
      <typeAlias alias="WeiXinMessageService" type="MobileCms.WebsiteService.WeiXinMessageService, MobileCms.WebsiteService" />

      <typeAlias alias="IWeiXinInMobileService" type="MobileCms.Website.IWeiXinInMobileService, MobileCms.Website" />
      <typeAlias alias="WeiXinInMobileService" type="MobileCms.WebsiteService.WeiXinInMobileService, MobileCms.WebsiteService" />

    </typeAliases>

    <containers>
      <container>
        <types>
          <type type="ICache" mapTo="Cache"></type>
          <type type="ICodeService" mapTo="CodeService"></type>
          <type type="IMobileUserService" mapTo="MobileUserService"></type>
          <type type="IMobileUserExtensionService" mapTo="MobileUserExtensionService"></type>
          <type type="IMobileContactMemberService" mapTo="MobileContactMemberService"></type>
          <type type="IMobileContactService" mapTo="MobileContactService"></type>
          <type type="IMobileOrgStructureService" mapTo="MobileOrgStructureService"></type>
          <type type="IMobileAppConfigService" mapTo="MobileAppConfigService"></type>
          <type type="IMobileAppService" mapTo="MobileAppService"></type>
          <type type="IMobileAppItemService" mapTo="MobileAppItemService"></type>
          <type type="IRpcService" mapTo="RpcService"></type>
          <type type="IMobileCardReaderReportService" mapTo="MobileCardReaderReportService"></type>
          <type type="IMobileMessageService" mapTo="MobileMessageService"></type>
          <type type="IMobileUserFileService" mapTo="MobileUserFileService"></type>
          <type type="IMobileUserLocationService" mapTo="MobileUserLocationService"></type>
          <type type="IWeiXinUserService" mapTo="WeiXinUserService"></type>
          <type type="ISmsService" mapTo="SmsService"></type>
          <type type="IWeiXinMessageService" mapTo="WeiXinMessageService"></type>
          <type type="IWeiXinInMobileService" mapTo="WeiXinInMobileService"></type>
        </types>
      </container>
    </containers>
  </unity>

  <appSettings>
    <add key="container" value="unity" />
  </appSettings>

</configuration>
