
.clr 
{
    clear: both;
}

.container 
{
    float:left;
    margin-top: 10px;
    padding-left: 15px;
}

h1, h2 
{
}

h1 
{
    font-size: 80px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

.overlay 
{
    background-color: #000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.bg-img 
{
    position: absolute;   
    width:54%; 
    height:80%; 
    left:23%; 
    top:10%;
    z-index: 1200;
}

.full-view-elements 
{
    background: none repeat scroll 0 0 #fff;
    display: none;
    height: 100%;
    margin-top: 0 !important;
    z-index: 500;
}

.w100 
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9) !important;
    height: 100%;
    max-height: 100%;
    width: 100%;
}

.full-view 
{
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

* html .full-view 
{
    position: relative;
}

* html .full-view 
{
    position: relative;
}

.header 
{
    color: #fff;
    left: 0;
    line-height: 30px;
    margin: 5px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 80%;
    z-index: 1400;
}

.fancy 
{
}

.header .fancy 
{
    font-size: 30px;
}

.block .fancy 
{
    font-size: 18px;
}

.header h1 span {
    color: #ef1010;
    float: left;
    line-height: 60px;
}

.header h2 
{
    font-size: 30px;
    position: relative;
    text-transform: uppercase;
}

p.subline 
{
    font-size: 11px;
    font-style: normal;
    letter-spacing: 4px;
    line-height: 20px;
    text-transform: uppercase;
}

.block 
{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dcdcdc;
    float: left;
    margin: 5px 5px 20px;
    padding: 11px;
    width: 200px;
}

.block-small 
{
    width: 160px;
}

.block-medium 
{
    width: 174px;
}

.title a:hover 
{
    color: #e8e8e8;
    text-decoration: underline;
}

.block h2 
{
    background: none repeat scroll 0 0 #222;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 2px 5px;
    text-align: center;
}

.block p 
{
    font-style: italic;
    line-height: 20px;
    padding-bottom: 5px;
}

.block p.subline 
{
    font-style: normal;
    margin: 10px 0;
}

.block img 
{
    border: medium none;
    display: block;
}

.project-descr 
{
    display: none;
}

* html .project-descr-full 
{
    bottom: 20px;
    position: absolute;
}

.project-descr-full 
{
    background: none repeat scroll 0 0 #222;
    bottom: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    height: 80px;
    left: 5px;
    padding: 0;
    position: fixed;
    width: 500px;
    z-index: 1700;
}

.project-descr-full 
{
    background-color: #222;
}

.project-descr-full 
{
}

.project-descr-full 
{
    background-color: #222;
    opacity: 0.8;
}

.project-descr-full-wrapper 
{
    color: #fff;
    font-size: 14px;
    height: 60px;
    margin: 10px;
    overflow: hidden;
}

.project-descr-full-content p 
{
    font-style: italic;
    line-height: 34px;
    padding-bottom: 5px;
}

.full-view .thumbs-wrapper 
{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    float: right;
    margin: 0;
}

.thumbs-wrapper 
{
    overflow: hidden;
    position: relative;
}

.thumbs img 
{
    float: left;
    height: 132px;
    width: 200px;
}

.thumbs-nav span 
{
    background: url("../Images/nav.png") no-repeat scroll left top transparent;
    cursor: pointer;
    display: none;
    height: 40px;
    left: 5px;
    margin-top: -20px;
    position: absolute;
    text-indent: -9000px;
    top: 50%;
    width: 22px;
}

.thumbs-nav span.thumbs-nav-next 
{
    background-position: right top;
    left: auto;
    right: 5px;
}

.thumbs-nav span.thumbs-nav-prev:hover 
{
    background-position: left bottom;
}

.thumbs-nav span.thumbs-nav-next:hover 
{
    background-position: right bottom;
}

.full-view-exit 
{
    background: url("../Images/cross.png") no-repeat scroll 10px 50% #222;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 46px;
    position: absolute;
    right: 0;
    text-indent: -9000px;
    top: 5px;
    transition: width 0.2s ease-in-out 0s;
    width: 50px;
    z-index: 1600;
}

.full-view-exit:hover 
{
    width: 60px;
}

.full-nav 
{
    height: 100%;
    left: 0;
    padding-top: 30px;
    position: fixed;
    top: 0;
    width: 100%;
}

* html .full-nav-prev 
{
    position: absolute;
}

* html .full-nav-next 
{
    position: absolute;
    right: 0;
}

.full-nav-prev 
{
    background: url("../Images/nav_a.png") no-repeat scroll 0 -40px #fff;
    cursor: pointer;
    height: 40px;
    left: 0;
    margin-top: -20px;
    position: fixed;
    text-indent: -9000px;
    top: 50%;
    width: 40px;
}

.full-nav-next 
{
    background: url("../Images/nav_a.png") no-repeat scroll 0 0 #fff;
    cursor: pointer;
    height: 40px;
    margin-top: -20px;
    position: fixed;
    right: 0;
    text-indent: -9000px;
    top: 50%;
    width: 40px;
}

* html .full-nav-pages 
{
    position: absolute;
    right: 0;
}

.full-nav-pages 
{
    bottom: 10px;
    color: #fff;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    line-height: 40px;
    padding: 0 10px;
    position: fixed;
    right: 10px;
}

.poto_list_intro 
{
    padding-top: 5px;
}

.intro-loading 
{
    background: url("../Images/loading.gif") no-repeat scroll center center transparent;
    opacity: 0.6;
}

.loading-small 
{
    background: url("../Images/loading-small.gif") no-repeat scroll center center transparent;
    display: none;
    height: 16px;
    left: 50%;
    position: absolute;
    top: 20px;
    width: 16px;
}

.reference 
{
    background: none repeat scroll 0 0 #000;
    font-size: 13px;
    height: 25px;
    line-height: 14px;
    opacity: 0.9;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    z-index: 4;
}

.reference a 
{
    color: #ddd;
    letter-spacing: 1px;
    padding: 5px 10px;
    text-align: right;
    text-shadow: 1px 1px 1px #000;
}

.reference a:hover 
{
    color: #fff;
}

.reference a span 
{
    font-weight: bold;
}

.reference span.right_ab 
{
    position: absolute;
    right: 4px;
}

.user1 span.users 
{
    background: url("../Images/sppic_12.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    width: 180px;
}

.user1 span 
{
    color: #787878;
    display: block;
    float: left;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding-left: 20px;
}

.user1 span.time 
{
    background: url("../Images/sppic_14.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    overflow: hidden;
    width: 127px;
}

.user1 span 
{
    color: #787878;
    display: block;
    float: left;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding-left: 20px;
}

.overlay 
{
    background-color: #000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.full-view-elements 
{
    background: none repeat scroll 0 0 #fff;
    display: none;
    height: 100%;
    margin-top: 0 !important;
    z-index: 500;
}
