#retrievePasswordFormContent{
	float: left;
	width: 100%;
}

#retrievePasswordFormContent ul{
	display: block;
	float: left;
	width: 100%;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#retrievePasswordFormContent ul li{
	display: block;
	float: left;
	width: 100%;
	height: 42px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#retrievePasswordFormContent ul li .inputlab
{
    float:left;
    width:100px;
    height: 42px;
    line-height:42px;
}

#retrievePasswordFormContent ul li input{
	display: block;
	float: left;
	width: 268px;
	height: 40px;
	line-height: 50px;
	background-color: #ffffff;
	font-size: 24px;
	border: 1px solid #ccc;
}

#retrievePasswordFormContent ul li .btn_sms
{
    float: left;
    height: 36px;
    line-height:36px;
    margin-top:2px;
    margin-left:10px;
    border: 1px solid #ccc;
    padding-left:5px;
    padding-right:5px;
    background-color:#EB6118;
    
    color:#ffffff;
}

.loginmain_btn_btnretrievepasswordsub
{
    float:left;
    width:280px;
    height:44px;
    background-image:url('../Images/btn_retrievepassword.png');
    background-repeat:no-repeat;
    border:none;
    cursor:pointer;
    margin-left:100px;
}

.loginmain_btn_btnretrievepasswordsub:hover
{
	filter:Alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}

.smsmessage
{
    float:left;
    width:100%;
    height:40px;
    line-height:40px;
    color:#EB6118;
    text-align:center;
}
