.onShow
{
    display:block;
    float:left;
    background:url('../Images/onShow.png') no-repeat; 
    padding-left:25px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	color:#97CBFF;
}

.onFocus
{
    display:block;
    float:left;
    background:url('../Images/onFocus.png') no-repeat; 
    padding-left:25px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	color:#97CBFF;
}

.onError
{
    display:block;
    float:left;
    background:url('../Images/onError.png') no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	color:#ff3333;
}

.onCorrect
{
    display:block;
    float:left;
    background:url('../Images/onCorrect.png') no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	color:#97CBFF;
}

.onLoad
{
    display:block;
    float:left;
    background:url('../Images/onLoad.gif') no-repeat 3px 3px;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	color:#97CBFF;
} 